<ion-view view-title="Settings">
  <ion-content>
    <ion-list>

      <div>
        <div class="item item-divider">
        Metrics
      </div>

        <ion-radio ng-model="metricsCelsius" value= 1  ng-click="saveData(1)">
          Celsius
        </ion-radio>

        <ion-radio ng-model="metricsCelsius" value =2 ng-click = 'saveData(2)'>
          Fahrenheit
        </ion-radio>


      </div>



      <div>

        <div class="item item-divider">
          Location
        </div>
      </div>



      <div class="list item-icon-left list-area" ng-controller="PopOver">
          <a class="item white {{item.selected}}" ng-click="showPopover($event, $index)">
            Set Location Currently = {{locName}}
          </a>
      </div>

<!--
      <div class="item item-divider">
        Notifications
      </div>
      <ion-toggle ng-model="settings.notifications">
        Push Notifications
      </ion-toggle>
-->
    </div>

    </ion-list>
  </ion-content>
</ion-view>
