
  <ion-view view-title="Weather">
  <ion-pane>
  	<ion-header-bar></ion-header-bar>
  	<ion-content >
  		<ion-slide-box class="padding">
  			<ion-slide class="padding">
  				<ul>
            <li>
              fdfd
              fddd
              {{nowcast}}
            </li>
          </ul>
  			</ion-slide>
        <ion-slide class="padding">
          <ul>
            <li>
              dsa
              dsadas
              sadasad
              {{halfday}}
            </li>
          </ul>
        </ion-slide>

  		</ion-slide-box>
  	</ion-content>
  </ion-pane></ion-view>

