<ion-view view-title="About">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Our Team</div>
      <div class="item item-body">
        <div id="list">
          <ol>
            <li>Chen Fun Tat</li>
            <li>Jovin Yap</li>
            <li>Ong Jun Long</li>
            <li>Toh Gao Han</li>
            <li>Zhou Jingyuan</li>
            <li>Zhou Yanjun</li>
          </ol>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
