<ion-view view-title="Weather">

  <!-- The title of the ion-view will be shown on the navbar -->
  <ion-header-bar class="bar-positive">
    <h1 class="title">Weather</h1>
    <title>Settings</title>
  </ion-header-bar>

  <ion-content class="bg-image">

    <!-- Background -->
    <background-cycler class="bg-fade"></background-cycler>

    <div id="main-content">

      <!-- Temperature -->
      <div id="current-weather">

        <!-- Location -->
        <h5 class="title">
              <span class="city"><i id="city-nav-icon" class="icon ion-navigate"></i>
                 {{nowcast.channel.item.weatherForecast.area[9]._name}}
              </span><br>
        </h5>
        <br>
        <h4>
          <i class={{iconSet[nowcast.channel.item.weatherForecast.area[9]._icon]}} id="current-icon"></i>
          {{nowcast.channel.item.weatherForecast.area[9]._forecast}}
        </h4>
        <h4>
            <span id="temp-hi"><i class="icon ion-arrow-up-c"></i> <span ng-bind=halfday.channel.item.temperature._high>
            </span>&deg;</span>
            <span id="temp-lo"><i class="icon ion-arrow-down-c"></i> <span ng-bind=halfday.channel.item.temperature._low>
            </span>&deg;</span>
        </h4>
        <h2 class="current-temp"><span ng-bind='' ></span>
          {{(halfday.channel.item.temperature._high*1 + halfday.channel.item.temperature._low*1)/2}}&deg;</h2>

        <h5> Humidity:
          {{halfday.channel.item.relativeHumidity._low}}% ~ {{halfday.channel.item.relativeHumidity._high}}%
        </h5>
        <h5> PSI:
          {{psi.channel.item.region[1].record.reading[0]._value}}
        </h5>
      </div>
      <br><br><br><br><br><br><br>

      <!-- Forecast -->
      <div id="forecast" class="weather-box">

        <h4 class="title">Forecast</h4>
        <div class="row" ng-repeat="i in [0,1,2]">
          <div class="col"><span ng-bind=threeday.channel.item.weatherForecast.day[i]></span></div>
          <div class="col"><i class={{iconSet[threeday.channel.item.weatherForecast.icon[i]]}} id="forecast-icon"></i></div>

          <div class="col">
            <span class="temp-high">{{threeday.channel.item.weatherForecast.temperature[i]._high}}&deg;</span>
            <span class="temp-low">{{threeday.channel.item.weatherForecast.temperature[i]._low}}&deg;</span>
          </div>
        </div>


        {{threeDay.channel.item.weatherForecast.forecast[0]}}
        <!-- Source -->
        <div class="clearfix">
          <div class="credit">
            Data from <a href="http://www.nea.gov.sg" target="_blank">NEA Singapore</a>
          </div>
        </div>

      </div>

    </div>

  </ion-content>

</ion-view>
