<ion-view view-title="View Rating">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label"><b>Activity :</b></span>
        <span class="input-label">{{input.activity}}</span>
      </label>
      <label class="item item-input">
        <span class="input-label"><b>Location :</b></span>
        <span class="input-label">{{input.location}}</span>
      </label>
      <label class="item item-input">
        <span class="input-label"><b>Time :</b></span>
        <span class="input-label">Within the Next {{input.time}} hours</span>
      </label>
      <label class="item item-input">
        <span class="input-label"><b>Rating :</b></span>
        <span class="input-label">{{input.rating()}} {{f}}(Maximum: 100)</span>
      </label>
    </div>
  </ion-content>
</ion-view>
