<ion-view view-title="Weather">

  <!-- The title of the ion-view will be shown on the navbar -->
  <ion-header-bar class="bar-positive">
    <h1 class="title">Weather</h1>
    <title>Settings</title>
  </ion-header-bar>

  <ion-content class="bg-image">

    <div id="main-content">

      <!-- Temperature -->
      <div id="current-weather">
        <!-- Location -->
        <h5 class="title">
              <span class="city"><i id="city-nav-icon" class="icon ion-navigate"></i>
                 {{nowcast[index()]._name}}
              </span><br>
        </h5>
        <br>
        <h4>
          <i class={{iconSet[nowcast[index()]._icon]}} id="current-icon"></i>
          {{nowcast[index()]._forecast}}
        </h4>
        <h4>
            <span id="temp-hi"><i class="icon ion-arrow-up-c"></i> <span ng-bind=tempHigh>
            </span>&deg;</span>
            <span id="temp-lo"><i class="icon ion-arrow-down-c"></i> <span ng-bind=tempLow>
            </span>&deg;</span>
        </h4>
        <h2 class="current-temp"><span ng-bind='' ></span>
          {{((tempHigh*1 + tempLow*1)/2).toFixed(1)}}&deg;</h2>

        <h5> Humidity:
          {{humidityLow}}% ~ {{humidityHigh}}%
        </h5>
        <h5> PSI:
          {{psi[psiIndex()].record.reading[0]._value}}
        </h5>
      </div>
      <br><br><br><br><br><br><br>

      <!-- Forecast -->
      <div id="forecast" class="weather-box">

        <h4 class="title">Forecast</h4>
        <div class="row" ng-repeat="i in [0,1,2]">
          <div class="col"><span ng-bind=threedayDay[i]></span></div>
          <div class="col"><i class={{iconSet[threedayIcon[i]]}} id="forecast-icon"></i></div>

          <div class="col">
            <span class="temp-high">{{threedayTemp[i].tempHigh}}&deg;</span>
            <span class="temp-low">{{threedayTemp[i].tempLow}}&deg;</span>
          </div>
        </div>


        {{threeDay.channel.item.weatherForecast.forecast[0]}}
        <!-- Source -->
        <div class="clearfix">
          <div class="credit">
            Data from <a href="http://www.nea.gov.sg" target="_blank">NEA Singapore</a>
          </div>
        </div>

      </div>

    </div>

  </ion-content>

</ion-view>
