<ion-view view-title="About">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          <li>03/11/2015 <b>v2.2</b> rating page minior update</li>
          <li>03/11/2015 <b>v2.1</b> bugs fix</li>
          <li>31/10/2015 <b>v2.0</b> settings page major update</li>
          <li>27/10/2015 <b>v1.1</b> improve weatherpage UI</li>
          <li>26/10/2015 <b>v1.0</b> cache data support</li>
          <li>24/10/2015 <b>v0.1</b> improve homepage UI</li>
          <li>16/10/2015 <b>v0.0</b> basic UI released</li>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          <ol>
            <li>Push Notification</li>
            <li>GPS</li>
            <li>Google Maps</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Our Team</div>
      <div class="item item-body">
        <div id="list">
          <ol>
            <li>Chen Fun Tat</li>
            <li>Jovin Yap</li>
            <li>Ong Jun Long</li>
            <li>Toh Gao Han</li>
            <li>Zhou Jingyuan</li>
            <li>Zhou Yanjun</li>
          </ol>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
