<ion-view view-title="Home" hide-tabs="true" hide-nav-bar="true">
  <ion-content>
    <div class="wrapper">
      <ul>
        <li><a ui-sref="tab.weather"><img ng-src="img/weathernow.jpg" ></a></li>
        <li><a ui-sref="tab.settings"><img ng-src="img/settings.jpg" ></a></li>
      </ul>
      <ul>
        <li><a ui-sref="tab.plan"><img ng-src="img/planactivity.jpg" ></a></li>
        <li><a ui-sref="tab.about"><img ng-src="img/aboutus.jpg" ></a></li>
      </ul>
    </div>




  </ion-content>
</ion-view>
