<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide':$root.hideTabs}" >

  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <!-- Weather Tab -->
  <ion-tab title="Weather" icon-off="ion-ios-partlysunny-outline" icon-on="ion-ios-partlysunny" href="#/tab/weather">
    <ion-nav-view name="tab-weather"></ion-nav-view>
  </ion-tab>

  <!-- Home Tab -->
  <ion-tab ng-hide="$root.hideTabs" class="tabs-icon-only" title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- Plan Activity Tab -->
  <ion-tab title="Plan Activity" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose-outline" href="#/tab/plan">
    <ion-nav-view name="tab-plan"></ion-nav-view>
  </ion-tab>

  <!-- View Rating Tab (Hidden to the user) -->
  <ion-tab title="View Rating" href="#/tab/view" hidden="true">
    <ion-nav-view name="tab-view"></ion-nav-view>
  </ion-tab>

</ion-tabs>
